.header {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.center {
    text-align: center;
}

.section {
    border-top: 1px solid #eee;
    padding: 6rem 0;
}

.icon {
    margin: 1rem;
    text-decoration: none;
}

@media (min-width: 550px) {
    .header {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
}

.icon::before {
    color: #222;
}
